<!DOCTYPE html>
<html>

<head>
  <%- include('layout/head') %>
</head>

<body>
    <main>
        <header>
            <%- include('layout/header') %>
        </header>
        <section>
            <ul>
                <% todos.forEach(todo => { %>
                    <li>
                        <a href="/tasks/<%= todo.id %>"><%= todo.title %></a>
                    </li>
                <% })%>
            </ul>
        </section>
    </main>
</body>

</html>