<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forms Demo</title>
</head>

<body>
    <h1>Our awesome app</h1>

    <form action="/contact" method="POST">
        <p>Contact Me</p>
        <label>
            <span>First Name:</span>
            <input type="text" name="first-name" required>
        </label>

        <label>
            <span>Last Name:</span>
            <input type="text" name="last-name" required>
        </label>

        <label>
            <span>Phone Number</span>
            <input type="tel" name="phone" required>
        </label>
        <input type="submit">
    </form>

</body>

</html>